<body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
    
      <!-- /.navbar -->
    
      <!-- Main Sidebar Container -->
    
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Insertar Platillo</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">insert</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form role="form" id="quickForm">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del platillo" [(ngModel)]="platillo.nombre">
                      </div>
                      <div class="form-group">
                        <label for="ingredientes">Ingredientes</label>
                        <input type="text" name="ingredientes" class="form-control" id="ingredientes" placeholder="Ingrese los ingredientes usados en el platillo" [(ngModel)]="platillo.ingredientes">
                      </div>
                      <div class="form-group">
                        <label for="fuente">Fuente</label>
                        <input type="text" name="nombre" class="form-control" id="fuente" placeholder="Ingrese la URL de la imagen del platillo" [(ngModel)]="imagen.imgSRC">
                      </div>
                   
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary" (click)="savePlatillo()">Enviar</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
                </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6">
    
              </div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>Version</b> 3.0.5
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
      </footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    
    <!-- jQuery -->
   
    </body>