<body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Historial</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Historial</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
      
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Aqui podras ver el historial de los platillos que fueron ordenados</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <label>Platillo: </label>
                    <select id="filtro">
                      <option>Seleccione un platillo</option>
                    </select>
                  </div>
                  <div id="tablaDatosHistoril" class="card-body">
                    <table id="tablaHistorial" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Platillo</th>
                          <th>Precio</th>
                          <th>Fecha del Pedido</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let dato of datos">
                        <tr>
                          <td>{{dato.platillo}}</td>
                          <td>{{dato.precio}}</td>
                          <td>{{dato.fecha}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>Version</b> 3.0.5
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
      </footer>
      
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
  </body>
